<div class="totalContainer">
  <div class="toolbarSection">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/BasicScene'"  [routerLinkActive]="['active']" matTooltip="Auto aprendizaje dron en 1D usando posiciones de potencia"> Basic Scene </a>
          <a mat-button [routerLink]="'/BasicScene2'" [routerLinkActive]="['active']" matTooltip="Auto aprendizaje dron en 1D usando variación de potencia"> Basic Scene 2 </a>
          <a mat-button [routerLink]="'/Drone2D'" [routerLinkActive]="['active']" matTooltip="Auto aprendizaje dron en 2D"> Drone 2D </a>
          <a mat-button [routerLink]="'/TestModels'" [routerLinkActive]="['active']" matTooltip="Zona para pruebas especificas de concepto de algunos objetos usados"> Test models</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="routerSection">
    <router-outlet></router-outlet>
  </div>
</div>