<div class="totalContainer">
  <div class="toolbarSection">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/BasicScene'"> Basic Scene </a>
          <a mat-button [routerLink]="'/ComplexScene'"> Complex Scene </a>
          <a mat-button [routerLink]="'/TestModels'"> Test models</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="routerSection">
    <router-outlet></router-outlet>
  </div>
</div>