/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.C1.mat-mdc-card-header{
    padding: 4px;
}

//mat-card { margin: 5px; padding: 5px;}


