<div class="container">
  <div class="horizontalGroup">
    <div class="trheeScene">
      <app-three-render></app-three-render>
    </div>
    <div>
      <div>
        <mat-icon  [ngClass]="{roundedSelected: isLearning}">school</mat-icon>
        <mat-icon  [ngClass]="{roundedSelected: isExaming}">quiz</mat-icon>
        <mat-icon  [ngClass]="{roundedSelected: isExaming}">shuffle</mat-icon>
      </div>
      <div><mat-progress-bar *ngIf="progressNfo.visible" mode="buffer" [value]="progressNfo.value" [bufferValue]="progressNfo.buffer"></mat-progress-bar></div>
        
      <span>cosas</span>
      <div class="students-table-container">
        <table mat-table [dataSource]="dsStudents" class="students-table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <!-- Score Column -->
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let element">{{element.score}}</td>
          </ng-container>
          <!-- Score Column -->
          <ng-container matColumnDef="loss">
            <th mat-header-cell *matHeaderCellDef>Loss</th>
            <td mat-cell *matCellDef="let element">{{element.loss | number:'1.1-2'}}</td>
          </ng-container>
          <!-- Reward Column -->
          <ng-container matColumnDef="reward">
            <th mat-header-cell *matHeaderCellDef>Reward</th>
            <td mat-cell *matCellDef="let element">{{element.reward | number:'1.1-2'}}</td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.statusStr}}</td>
          </ng-container>
          <!-- Cicles Column -->
          <ng-container matColumnDef="cicles">
            <th mat-header-cell *matHeaderCellDef>Cicles</th>
            <td mat-cell *matCellDef="let element">{{element.learnCicles}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[50]" [pageSize]="50" [hidePageSize]="true" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  <div class="controlsGroup">    
    <div class="verticalGroup">
      <span>Steps</span>
      <mat-stepper #stepper [linear]="true">
        <mat-step state="init" [completed]="this.students.length>0">
          <ng-template matStepLabel>
            <div matTooltip="initializes the set of drones that will compete in the learning">Init drones and data</div>
          </ng-template>
          <div>
            <button [disabled]="bussy" mat-flat-button color="primary" (click)="testCreateStudents()"
              matTooltip="Create a set of drones to train">Create drone set</button>
            <button [disabled]="true" mat-flat-button color="primary" matTooltip="">Load</button>
          </div>
        </mat-step>
        <mat-step label="Learning process" state="learn">
          <div>
            <button mat-flat-button color="primary" (click)="StudentsWorkingLearn()"
              matTooltip="probar varios studiantes">Test students work</button>            
          </div>>
        </mat-step>
        <mat-step label="Evaluations" state="eval" [editable]="false">
          <div>
            <span>Examenes</span>
          </div>
        </mat-step>
        <mat-step label="Genetic changes" state="genetic"></mat-step>
        <mat-step label="Persist Data" state="save"></mat-step>
        <ng-template matStepperIcon="init"><mat-icon>power_settings_new</mat-icon></ng-template>
        <ng-template matStepperIcon="learn"><mat-icon>school</mat-icon></ng-template>
        <ng-template matStepperIcon="eval"><mat-icon>quiz</mat-icon></ng-template>
        <ng-template matStepperIcon="genetic"><mat-icon>swap_calls</mat-icon></ng-template>
        <ng-template matStepperIcon="save"><mat-icon>save</mat-icon></ng-template>
      </mat-stepper>
    </div>
    <div class="verticalGroup">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Small concept tests</mat-panel-title>
        </mat-expansion-panel-header>        
        <button mat-flat-button color="secondary" (click)="test1()">new observable</button>
        <button mat-flat-button color="secondary" (click)="test2()">free worker</button>
        <button mat-flat-button color="secondary" (click)="test3()">worker observable</button>
        <button mat-flat-button color="secondary" (click)="saveStudents()">save students</button>
        <button mat-flat-button color="secondary" (click)="loadStudents()">load students</button>
        <button mat-flat-button color="primary" (click)="testHelloWorker()" matTooltip="Probar worker simple">Test hello worker</button>
      </mat-expansion-panel>
    </div>
  </div>
</div>